@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .app-style {
    @apply bg-slate-50 text-gray-600;
  }

  .main-content {
    @apply pb-3 col-span-12 bg-white border-r 
    sm:col-span-12
    md:ml-[220px] md:z-10
    lg:col-span-12
    xl:mx-[280px] xl:z-10;
  }

  .tabs {
    @apply mr-2 my-2 py-2 px-4 rounded-full border-0 text-xs md:text-sm font-semibold cursor-pointer bg-violet-50 text-violet-700 hover:bg-violet-100
  }

  .active-tab {
    @apply mr-2 my-2 py-2 px-4 rounded-full border-0 text-xs md:text-sm font-semibold cursor-pointer text-violet-50 bg-violet-700 hover:bg-violet-900 
  }

  .profile-dropdown {
    @apply inline-flex justify-center w-full rounded-md border border-gray-300 
              shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none 
              focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500;
  }

  .btn-indigo {
    @apply bg-violet-500 px-4 py-3 text-white rounded hover:bg-violet-600 active:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-300 cursor-pointer;
  }

  .btn-pink {
    @apply bg-pink-500 px-4 py-3 text-white rounded hover:bg-pink-600 active:bg-pink-700 focus:outline-none focus:ring focus:ring-pink-300 cursor-pointer;
  }

  .btn-red {
    @apply bg-red-500 px-4 py-3 text-white rounded hover:bg-red-600 active:bg-red-700 focus:outline-none focus:ring focus:ring-red-300 cursor-pointer;
  }

  .btn-light {
    @apply bg-slate-500 px-4 py-3 text-white hover:bg-slate-400 active:bg-slate-500 focus:outline-none focus:ring focus:ring-slate-100 cursor-pointer;
  }

  .btn-tag {
    @apply bg-cyan-500 px-3 py-2 text-white rounded hover:bg-cyan-600 active:bg-cyan-700 focus:outline-none focus:ring focus:ring-cyan-300 cursor-pointer;
  }

  .nav-link {
    @apply text-slate-700 hover:bg-slate-100 hover:text-slate-900;
  }
}